@tailwind base;
@tailwind components;
@tailwind utilities;

/* ================= Fonts ================= */
@layer base {
  @font-face {
    font-family: 'MTNIrancell-Bold';
    src: url('/fonts/MTNIrancell-Bold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-DemiBold';
    src: url('/fonts/MTNIrancell-DemiBold.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-ExtraLight';
    src: url('/fonts/MTNIrancell-ExtraLight.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-Light';
    src: url('/fonts/MTNIrancell-Light.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'MTNIrancell-Medium';
    src: url('/fonts/MTNIrancell-Medium.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Oi-Regular';
    src: url('/fonts/Oi-Regular.ttf') format('truetype');
    font-display: swap;
  }
}

@layer components {
  .dir {
    direction: rtl;
  }

  .loggedin-panel {

    @apply relative;

    div {
      display: none;
      direction: rtl;
      @apply z-10 absolute transition-opacity duration-300 ease-in-out left-1/2 -translate-x-1/2 top-10 w-32 bg-white rounded-md p-2 text-sm shadow-xl;


      &::after {
        content: '';
        @apply bg-white w-3 h-3 block absolute -top-1 left-1/2 -translate-x-1/2 rotate-45;

      }

      span {
        @apply cursor-pointer text-gray-600 hover:text-black;
      }
    }

    &:hover .panel {
      @apply flex flex-col;
    }

    &:hover .panel-icon {
      @apply rotate-180
    }
  }

  @keyframes basket-in {
    0% {
      transform: translateX(130%);
    }

    100% {
      transform: translateX(0)
    }
  }

  @keyframes basket-out {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(130%)
    }
  }

  .basket-in {
    animation: basket-in .7s ease-out
  }

  .basket-out {
    animation: basket-out .7s ease-out forwards
  }

  @keyframes edit-course-modal-in {

    0% {
      transform: translateY(130%);
    }

    100% {
      transform: translateY(0);
    }

  }

  @keyframes edit-course-modal-out {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(130%);
    }
  }

  @keyframes edit-course-modal-opacity-out {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes edit-course-modal-opacity-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .edit-course-modal-opacity-in {
    animation: edit-course-modal-opacity-in .3s ease forwards;
  }

  .edit-course-modal-opacity-out {
    animation: edit-course-modal-opacity-out .3s ease .3s forwards;
  }

  .edit-course-modal-in {
    animation: edit-course-modal-in .4s ease-in-out .3s forwards;
    animation-fill-mode: backwards;
  }

  .edit-course-modal-out {
    animation: edit-course-modal-out .3s ease-in-out forwards;

  }

  @keyframes succsess-in {

    0% {
      transform: translateX(300px)
    }

    100% {
      transform: translateX(0);
    }

  }

  .succsess-in {
    animation: succsess-in .3s ease-in-out;
  }


  @keyframes modal-closer {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(300px);
    }
  }

  .modal-closer {
    animation: modal-closer .6s ease-in-out;
  }

}